@model PaymentViewModel

<h1>Оплата заказа</h1>

<p>Необходимо оплатить: <span id="totalAmount">@Model.totalAmount</span> руб.</p>

<table>
    <thead>
        <tr>
            <th>Номинал (рубли)</th>
            <th>Количество</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coin in Model.coins)
        {
            <tr>
                <td>@coin.Key руб.</td>
                <td>
                    <button onclick="updateCoin(@coin.Key, -1)">-</button>
                    <span id="coin-count-@coin.Key">@coin.Value</span>
                    <button onclick="updateCoin(@coin.Key, +1)">+</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Внесено: <span id="currentAmount">@Model.currentAmount</span> руб.</p>

<a id="payButton" class="btn btn-primary" href="" role="button" aria-disabled="true">Оплатить</a>

<a href="/Store/Index" class="btn btn-secondary">← Вернуться к напиткам</a>

<script src="~/js/payment.js"></script>
<link rel="stylesheet" href="~/css/payment.css">
