@model PaymentViewModel

<h1>Оплата заказа</h1>

<table>
    <thead>
        <tr>
            <th>Номинал</th>
            <th>Количество</th>
            <th>Сумма</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var coin in Model.coins)
        {
            <tr>
                <td>
                    <img src="~/images/coins/@(coin.Key == 1 ? "1" : coin.Key == 2 ? "2" : coin.Key == 5 ? "5" : "10").png" 
                         alt="@coin.Key руб." 
                         style="width: 100px; height: 100px; margin-right: 10px;" />
                    @coin.Key руб.
                </td>
                <td>
                    <button onclick="updateCoin(@coin.Key, -1)">-</button>
                    <span id="coin-count-@coin.Key">@coin.Value</span>
                    <button onclick="updateCoin(@coin.Key, +1)">+</button>
                </td>
                <td>
                    <span id="coin-sum-@coin.Key">@(@coin.Key * coin.Value)</span> руб.
                </td>
            </tr>
        }
    </tbody>
</table>

<p>К оплате: <span id="totalAmount">@Model.totalAmount</span> руб.</p>
<p>Внесено: <span id="currentAmount">@Model.currentAmount</span> руб.</p>

<div style="text-align: right; margin-bottom: 20px;">
    <button id="bucketButton" class="button back" onclick="window.location.href = '/Bucket/Bucket'">
        <span class="button-text">Вернуться</span>
    </button>
</div>

<div style="text-align: right; margin-bottom: 20px;">
    @Html.AntiForgeryToken()
    <button id="payButton" class="button next-disabled" data-disabled="true" onclick="handlePayButtonClick()">
        <span class="button-text">Оплатить</span>
    </button>
</div>

<script src="~/js/payment.js"></script>
<link rel="stylesheet" href="~/css/payment.css">

<script>
    var needAmount = @Model.totalAmount;
    var currentAmount = @Model.currentAmount;
</script>