
@model IEnumerable<SodaBox.DataAccess.Entities.Drink>

<div class="drinks-grid">
    @foreach (var drink in Model)
    {
        <div class="drink-item">
            <img src="@Url.Content($"~/{drink.imagePath}")" alt="@drink.name" />
            <h3>@drink.name</h3>
            <p>Цена: @drink.price руб.</p>
            <p>Остаток: @drink.quantity</p>
            @if (drink.quantity > 0)
            {
                <button data-drink-id="@drink.id" class="button available" onclick="addToCart(@drink.id)">
                    <span class="button-text">Выбрать</span>
                </button>
            }
            else
            {
                <button class="button disabled" disabled>
                    <span class="button-text">Закончилось</span>
                </button>
            }
        </div>
    }
</div>


<script>
    function addToCart(drinkId) {
        fetch("/Store/AddToCart", {
            method: "POST",
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: `drinkId=${drinkId}`
        }).then(response => {
            if (response.ok) {
                console.log("Напиток добавлен в корзину");
                // Обновите состояние кнопки здесь
                var button = document.querySelector(`button[data-drink-id='${drinkId}']`);
                if (button) {
                    button.innerText = "Выбрано";
                    button.disabled = true;
                }
            } else {
                console.error("Ошибка при добавлении напитка");
            }
        });
    }
</script>

<style>
    .drinks-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr); /* 4 напитка в строке */
        gap: 20px;
    }

    .drink-item {
        text-align: center;
    }

        .drink-item img {
            width: 100px;
            height: 100px;
        }
</style>
