@model AdminViewModel

<h1>Административная панель</h1>

<form id="adminForm">
    <div id="drinksContainer" class="drinks-grid">
        @foreach (var drink in Model.drinks)
        {
            <div class="drink-item" id="drink-@drink.id" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
                <img src="@Url.Content($"~/{drink.imagePath}")" alt="@drink.name" />
                <h3>@drink.name</h3>
                <p>
                    <input type="number" id="price-@drink.id" name="drinks-price[@drink.id].price" value="@drink.price" min="1" step="1" style="width: 60px; text-align: center;" /> руб.
                </p>
                <p>
                    <button type="button" class="quantity-button" data-drink-id="@drink.id" onclick="clickButtonToUpdateQuantity(@drink.id, -1)">-</button>
                    <input type="number" id="quantity-@drink.id" name="drinks-quantity[@drink.id].quantity" value="@drink.quantity" min="0" step="1" style="width: 60px; text-align: center;" />
                    <button type="button" class="quantity-button" data-drink-id="@drink.id" onclick="clickButtonToUpdateQuantity(@drink.id, 1)">+</button>
                </p>
            </div>
        }
    </div>

    
    <div class="button-container">
        <button id="storeButton" class="button back" type="button" onclick="window.location.href = '/Store/Index'">
            <span class="button-text">Вернуться</span>
        </button>

        <button id="saveButton" class="button save-enabled" type="button" onclick="saveData()" disabled>
            <span class="button-text">Сохранить</span>
        </button>
    </div>
</form>

<!-- Подключение стилей и скриптов -->
<link rel="stylesheet" href="~/css/admin.css">
<script src="~/js/admin.js"></script>
