@model BucketViewModel

<h1>Оформление заказа</h1>

<a href="/Store/Index" class="btn btn-secondary">← Назад к напиткам</a>

<table class="table">
    <thead>
        <tr>
            <th>Напиток</th>
            <th>Количество</th>
            <th>Цена</th>
            <th>Итог</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.cartItems)
        {
            <tr>
                <td>
                    <img src="@Url.Content($"~/{item.drink.imagePath}")" alt="@item.drink.name" style="width: 100px; height: 150px; margin-right: 10px;" />
                    @item.drink.name
                </td>
                <td>
                    <button onclick="updateCart(@item.drink.id, Math.max(@item.quantity - 1, 0))" @if (item.quantity <= 1)
                    {
                        <text>disabled</text>
                    }>-</button>
                    @item.quantity
                    <button onclick="updateCart(@item.drink.id, Math.min(@item.quantity + 1, @item.drink.quantity))" @if (item.quantity >= item.drink.quantity)
                    {
                        <text>disabled</text>
                    }>+</button>
                </td>

                <td>@item.drink.price руб.</td>
                <td>@(item.drink.price * item.quantity) руб.</td>
            </tr>
        }
    </tbody>
</table>

<p>Общая сумма: @Model.sum руб.</p>

<button class="btn btn-primary" onclick="window.location.href = '/Payment/Payment?sum=' + @Model.sum">Оплата</button>

<script src="~/js/bucket.js"></script>


<link rel="stylesheet" href="~/css/bucket.css">
