@model BucketViewModel

<h1>Оформление заказа</h1>

@if (Model.cartItems == null || !Model.cartItems.Any())
{
    <p>У вас нет ни одного товара, вернитесь на страницу каталога</p>
}
else
{
    <script>
        var sum = @Model.sum;
    </script>

    <table class="table">
        <thead>
            <tr>
                <th>Товар</th>
                <th>Количество</th>
                <th>Цена</th>
                <th>Итог</th>
                <th></th> <!-- Столбец для кнопки удаления -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.cartItems)
            {
                <tr>
                    <td style="vertical-align: middle;">
                        <img src="@Url.Content($"~/{item.drink.imagePath}")" alt="@item.drink.name" style="width: 100px; height: 150px; margin-right: 10px;" />
                        @item.drink.name
                    </td>
                    <td style="vertical-align: middle;">
                        <button class="quantity-button" onclick="updateCart(@item.drink.id, Math.max(@item.quantity - 1, 1))"
                        @if (item.quantity <= 1)
                        {
                            <text>disabled</text>
                        }>-</button>

                        <input type="number" id="cart-input-@item.drink.id" value="@item.quantity" min="1" max="@item.drink.quantity"
                               data-max-quantity="@item.drink.quantity" style="width: 60px; text-align: center;"
                               oninput="updateCartFromInput(@item.drink.id)" />

                        <button class="quantity-button" onclick="updateCart(@item.drink.id, Math.min(@item.quantity + 1, @item.drink.quantity))"
                        @if (item.quantity >= item.drink.quantity)
                        {
                            <text>disabled</text>
                        }>+</button>
                    </td>

                    <td style="vertical-align: middle;">@item.drink.price руб.</td>
                    <td style="vertical-align: middle;">@(item.drink.price * item.quantity) руб.</td>
                    <td style="vertical-align: middle;">
                        <button onclick="deleteFromCart(@item.drink.id)" class="button-delete">
                            <img src="@Url.Content("~/images/bucket.svg")" alt="Удалить" />
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p style="text-align: right;">Итоговая сумма: @Model.sum руб.</p>

    
}

<div class="button-container">
    <button id="storeButton" class="button back" onclick="window.location.href = '/Store/Index'">
        <span class="button-text">Вернуться</span>
    </button>


    @Html.AntiForgeryToken()
    <button id="payButton" class="button next-disabled" data-disabled="true" onclick="handlePayButtonClick()">
        <span class="button-text">Оплата</span>
    </button>
</div>

<script src="~/js/bucket.js"></script>
<link rel="stylesheet" href="~/css/bucket.css">
